body{
  font-family: 'Baloo Chettan 2', cursive;
  background-image: url(./images/bg.jpg);
}
.title{
  text-align: center;
  font-size: 38px;
  margin: 0 auto;
  margin-top: 12px;
}
.list-option{
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.option_content{
  margin-left: 10px;
  text-align: center;
}
.questions{
  min-height: 350px;
}
.option-question{
  margin: 20px 30px;
}
.option_name{
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}
.lable{
  font-size: 28px;
  display: inline-block;
  color: black;
}
.question_detail{
  font-size: 22px;
  margin-left: 12px;
}
.list-option{
  margin-top: 24px;
  margin-left: 20px;
}
.above{
  border: 1px solid black;
  margin-bottom: 16px;
  padding: 12px 12px;
  background-color: white;
}
.option{
  margin: 10px 10px;
  width: 220px;
}
.answer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}
.answer_select{
  margin: 0;
}
#sel1{
  min-width: 200px;
}
.option{
  font-size: 18px;
}